

.header {
    padding-top: 72px
}

.header_nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    flex: none;
    background: #fff;
    box-shadow: 0 2px 5px -3px rgba(0, 0, 0, .25)
}

.header_checkbox {
    display: none
}

.header_container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px
}

.header_logo {
    flex: 0 0 auto;
    margin-right: 50px
}

@media (max-width: 575.98px) {
    .header_logo_src {
        width: 150px !important;
        height: auto !important;
        max-height: 50px !important;
    }
}
.header_logo.nuxt-link-exact-active {
    cursor: default;
    pointer-events: none
}

@media (max-width: 991.98px) {
    .header_logo {
        margin: 0 auto
    }
}

.header_logo_src {
    width: 204px;
    height: 36px;
    color: #605d5c;
    vertical-align: top
}

.header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media (max-width: 991.98px) {
    .header_menu {
        flex-flow: column;
        padding: 22px 0;
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0s, visibility 0s, height 0s, width 0s, overflow 0s
    }
}

@media (max-width: 991.98px) {
    .header_checkbox:checked + .header_container .header_menu {
        position: fixed;
        top: 72px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        background: url(https://cuba-nuxt.demo.haulmont.com/_nuxt/img/355ea89.png) #fff 50% 0 repeat;
        box-shadow: inset 0 2px 5px -2px rgba(0, 0, 0, .18);
        width: auto;
        height: auto;
        overflow: visible;
        visibility: visible;
        opacity: 1;
        transition: opacity .3s, visibility 0s, height 0s, width 0s, overflow 0s
    }
}

.header_menu_item {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    list-style: none
}

.header_menu_item + .header_menu_item {
    margin-left: 30px
}

@media (max-width: 991.98px) {
    .header_menu_item + .header_menu_item {
        margin-left: auto
    }
}

@media (max-width: 991.98px) {
    .header_menu_item {
        margin: 17px auto;
        font-size: 24px;
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        opacity: 0
    }
}

@media (max-width: 991.98px) {
    .header_checkbox:checked + .header_container .header_menu_item {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@media (max-width: 991.98px) {
    .header_checkbox:checked + .header_container .header_menu_item:first-child {
        transition: opacity .3s .2s, -webkit-transform .3s .2s;
        transition: opacity .3s .2s, transform .3s .2s;
        transition: opacity .3s .2s, transform .3s .2s, -webkit-transform .3s .2s
    }
}

@media (max-width: 991.98px) {
    .header_checkbox:checked + .header_container .header_menu_item:nth-child(2) {
        transition: opacity .3s .3s, -webkit-transform .3s .3s;
        transition: opacity .3s .3s, transform .3s .3s;
        transition: opacity .3s .3s, transform .3s .3s, -webkit-transform .3s .3s
    }
}

@media (max-width: 991.98px) {
    .header_checkbox:checked + .header_container .header_menu_item:nth-child(3) {
        transition: opacity .3s .4s, -webkit-transform .3s .4s;
        transition: opacity .3s .4s, transform .3s .4s;
        transition: opacity .3s .4s, transform .3s .4s, -webkit-transform .3s .4s
    }
}

@media (max-width: 991.98px) {
    .header_checkbox:checked + .header_container .header_menu_item:nth-child(4) {
        transition: opacity .3s .5s, -webkit-transform .3s .5s;
        transition: opacity .3s .5s, transform .3s .5s;
        transition: opacity .3s .5s, transform .3s .5s, -webkit-transform .3s .5s
    }
}

@media (max-width: 991.98px) {
    .header_checkbox:checked + .header_container .header_menu_item:nth-child(5) {
        transition: opacity .3s .6s, -webkit-transform .3s .6s;
        transition: opacity .3s .6s, transform .3s .6s;
        transition: opacity .3s .6s, transform .3s .6s, -webkit-transform .3s .6s
    }
}

@media (max-width: 991.98px) {
    .header_checkbox:checked + .header_container .header_menu_item:nth-child(6) {
        transition: opacity .3s .7s, -webkit-transform .3s .7s;
        transition: opacity .3s .7s, transform .3s .7s;
        transition: opacity .3s .7s, transform .3s .7s, -webkit-transform .3s .7s
    }
}

@media (max-width: 991.98px) {
    .header_checkbox:checked + .header_container .header_menu_item:nth-child(7) {
        transition: opacity .3s .8s, -webkit-transform .3s .8s;
        transition: opacity .3s .8s, transform .3s .8s;
        transition: opacity .3s .8s, transform .3s .8s, -webkit-transform .3s .8s
    }
}

.header_menu_link {
    color: #9b9b9b
}

.header_menu_link:focus, .header_menu_link:hover {
    color: #0784e3;
    text-decoration: none
}

.header_menu_link.nuxt-link-active, .header_menu_link.nuxt-link-exact-active {
    color: #2c3436
}

@media (max-width: 991.98px) {
    .header_menu_link {
        color: #2c3436
    }

    .header_menu_link.nuxt-link-active, .header_menu_link.nuxt-link-exact-active {
        color: #0784e3
    }
}

.header-submenu {
    flex: none;
    font-size: 14px;
    background: #fbfeff url(https://cuba-nuxt.demo.haulmont.com/_nuxt/img/355ea89.png) repeat 50% 0
}

.header-submenu:empty {
    display: none
}

.header-submenu_link {
    position: relative;
    display: inline-block;
    padding: 16px 0
}

.header-submenu_link:hover {
    color: #2c3436;
    text-decoration: none
}

.header-submenu_link:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #0784e3;
    opacity: 0;
    transition: opacity .15s;
    content: ""
}

.header-submenu_link.nuxt-link-active, .header-submenu_link.nuxt-link-exact-active {
    color: #2c3436
}

.header-submenu_link.nuxt-link-active:after, .header-submenu_link.nuxt-link-exact-active:after {
    opacity: 1
}

.header-submenu_link:not(:last-child) {
    margin-right: 30px
}

.header-support {
    flex: 0 0 auto;
    margin-left: auto
}

@media (max-width: 991.98px) {
    .header-support {
        margin-left: 0
    }
}

.header-support_toggle {
    margin: 0;
    padding: 8px 18px;
    color: #30336b;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #fdcb6e;
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer
}

@media (max-width: 991.98px) {
    .header-support_toggle {
        position: relative;
        width: 40px;
        height: 40px;
        padding: 0 6px!important;
        border-radius: 40px
    }

    .header-support_toggle:after, .header-support_toggle:before {
        position: absolute;
        left: 50%;
        width: 22px;
        height: 3px;
        margin: 0 0 0 -11px;
        background: currentColor;
        opacity: 0;
        transition: none;
        content: ""
    }

    .header-support.-open .header-support_toggle:before {
        top: 12px;
        opacity: 1;
        transition: all .3s;
        -webkit-animation: mobile-menu-toggle-open-top .3s 1 forwards;
        animation: mobile-menu-toggle-open-top .3s 1 forwards
    }

    .header-support.-open .header-support_toggle:after {
        bottom: 11px;
        opacity: 1;
        transition: all .3s;
        -webkit-animation: mobile-menu-toggle-open-bottom .3s 1 forwards;
        animation: mobile-menu-toggle-open-bottom .3s 1 forwards
    }
}

.header-support_toggle_icon {
    display: none
}

@media (max-width: 991.98px) {
    .header-support_toggle_icon {
        display: block
    }

    .header-support.-open .header-support_toggle_icon {
        opacity: 0
    }
}

@media (max-width: 991.98px) {
    .header-support_toggle_text {
        display: none
    }
}

.header-support_popup {
    position: absolute;
    top: 100%;
    right: 20px;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0s, visibility 0s, height 0s, width 0s, overflow 0s
}

.header-support.-open .header-support_popup {
    width: auto;
    height: auto;
    overflow: visible;
    visibility: visible;
    opacity: 1;
    transition: opacity .3s, visibility 0s, height 0s, width 0s, overflow 0s
}

@media (min-width: 992px) {
    .header-support_popup {
        right: 40px
    }
}

@media (max-width: 991.98px) {
    .header-support_popup {
        right: 0;
        left: 0
    }
}

.toggle-label {
    position: relative;
    z-index: 101;
    display: none;
    width: 26px;
    height: 22px;
    margin: 0;
    color: #2c3436;
    text-indent: -1000em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media (max-width: 991.98px) {
    .toggle-label {
        display: block
    }
}

.toggle-label span:before {
    position: absolute;
    top: 10px;
    right: 2px;
    left: 2px;
    height: 3px;
    background: currentColor;
    transition: all .3s;
    content: ""
}

@media (max-width: 991.98px) {
    .toggle-label span:before {
        opacity: 1
    }
}

@media (max-width: 991.98px) {
    .header_checkbox:checked + .header_container .toggle-label span:before {
        opacity: 0
    }
}

.toggle-label:after, .toggle-label:before {
    position: absolute;
    right: 2px;
    left: 2px;
    height: 3px;
    background: currentColor;
    transition: all .3s;
    content: ""
}

.toggle-label:before {
    top: 3px
}

@media (max-width: 991.98px) {
    .toggle-label:before {
        -webkit-animation: mobile-menu-toggle-close-top .3s 1 forwards;
        animation: mobile-menu-toggle-close-top .3s 1 forwards
    }
}

@media (max-width: 991.98px) {
    .header_checkbox:checked + .header_container .toggle-label:before {
        -webkit-animation: mobile-menu-toggle-open-top .3s 1 forwards;
        animation: mobile-menu-toggle-open-top .3s 1 forwards
    }
}

.toggle-label:after {
    bottom: 2px
}

@media (max-width: 991.98px) {
    .toggle-label:after {
        -webkit-animation: mobile-menu-toggle-close-bottom .3s 1 forwards;
        animation: mobile-menu-toggle-close-bottom .3s 1 forwards
    }
}

@media (max-width: 991.98px) {
    .header_checkbox:checked + .header_container .toggle-label:after {
        -webkit-animation: mobile-menu-toggle-open-bottom .3s 1 forwards;
        animation: mobile-menu-toggle-open-bottom .3s 1 forwards
    }
}

@-webkit-keyframes mobile-menu-toggle-open-top {
    0% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg)
    }
    25% {
        -webkit-transform: translateY(7px) rotate(0deg);
        transform: translateY(7px) rotate(0deg)
    }
    to {
        -webkit-transform: translateY(7px) rotate(45deg);
        transform: translateY(7px) rotate(45deg)
    }
}

@keyframes mobile-menu-toggle-open-top {
    0% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg)
    }
    25% {
        -webkit-transform: translateY(7px) rotate(0deg);
        transform: translateY(7px) rotate(0deg)
    }
    to {
        -webkit-transform: translateY(7px) rotate(45deg);
        transform: translateY(7px) rotate(45deg)
    }
}

@-webkit-keyframes mobile-menu-toggle-open-bottom {
    0% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg)
    }
    25% {
        -webkit-transform: translateY(-7px) rotate(0deg);
        transform: translateY(-7px) rotate(0deg)
    }
    to {
        -webkit-transform: translateY(-7px) rotate(-45deg);
        transform: translateY(-7px) rotate(-45deg)
    }
}

@keyframes mobile-menu-toggle-open-bottom {
    0% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg)
    }
    25% {
        -webkit-transform: translateY(-7px) rotate(0deg);
        transform: translateY(-7px) rotate(0deg)
    }
    to {
        -webkit-transform: translateY(-7px) rotate(-45deg);
        transform: translateY(-7px) rotate(-45deg)
    }
}

@-webkit-keyframes mobile-menu-toggle-close-top {
    0% {
        -webkit-transform: translateY(4px) rotate(45deg);
        transform: translateY(4px) rotate(45deg)
    }
    75% {
        -webkit-transform: translateY(4px) rotate(0deg);
        transform: translateY(4px) rotate(0deg)
    }
    to {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg)
    }
}

@keyframes mobile-menu-toggle-close-top {
    0% {
        -webkit-transform: translateY(4px) rotate(45deg);
        transform: translateY(4px) rotate(45deg)
    }
    75% {
        -webkit-transform: translateY(4px) rotate(0deg);
        transform: translateY(4px) rotate(0deg)
    }
    to {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg)
    }
}

@-webkit-keyframes mobile-menu-toggle-close-bottom {
    0% {
        -webkit-transform: translateY(-4px) rotate(-45deg);
        transform: translateY(-4px) rotate(-45deg)
    }
    75% {
        -webkit-transform: translateY(-4px) rotate(0deg);
        transform: translateY(-4px) rotate(0deg)
    }
    to {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg)
    }
}

@keyframes mobile-menu-toggle-close-bottom {
    0% {
        -webkit-transform: translateY(-4px) rotate(-45deg);
        transform: translateY(-4px) rotate(-45deg)
    }
    75% {
        -webkit-transform: translateY(-4px) rotate(0deg);
        transform: translateY(-4px) rotate(0deg)
    }
    to {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg)
    }
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0
}

.social_item {
    list-style: none
}

.social_item + .social_item {
    padding-left: 15px
}

.social_link {
    color: #969696
}

.social_link:focus, .social_link:hover {
    color: #2c3436
}

.social_icon {
    vertical-align: top
}

.footer {
    flex: none;
    font-size: 13px;
    background-color: #fafafa;
    border-top: 1px solid #e5e5e5
}

.footer_columns {
    padding: 40px 0 25px;
    border-bottom: 2px solid #e5e5e5
}

@media (max-width: 767.98px) {
    .footer_columns {
        padding-top: 20px;
        padding-bottom: 15px;
        border-bottom: 0
    }
}

.footer_column {
    display: inline-block;
    width: auto;
    padding-right: 45px;
    vertical-align: top
}

@media (max-width: 767.98px) {
    .footer_column {
        display: block;
        margin: 0 0 10px;
        padding: 0 0 10px;
        border-bottom: 1px solid #f0f0f0
    }

    .footer_column:last-child {
        border-bottom: 0
    }
}

.footer_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px
}

.footer_copyright {
    color: #868685;
    font-weight: 400;
    font-size: 13px
}

@media (max-width: 767.98px) {
    .footer_copyright {
        order: 2;
        width: 100%;
        margin: 20px 0 0;
        padding: 15px 0 0;
        text-align: center;
        border-top: 1px solid #e5e5e5
    }
}

.footer_terms {
    margin-left: 20px;
    color: #2c3436
}

@media (max-width: 767.98px) {
    .footer_terms {
        display: block;
        margin: 0
    }
}

@media (max-width: 767.98px) {
    .footer_social {
        justify-content: space-between;
        width: 100%;
        max-width: 350px;
        margin: 0 auto
    }
}

.footer-menu_label {
    margin: 0;
    font-weight: 700;
    font-size: 13px
}

@media (max-width: 767.98px) {
    .footer-menu_label {
        cursor: pointer
    }

    .footer-menu_label:hover {
        opacity: .8
    }

    .footer-menu_label:after {
        display: inline-block;
        float: right;
        font-weight: 400;
        font-size: 10px;
        content: "\2193"
    }

    .footer-menu.-expanded .footer-menu_label:after {
        content: "\2191"
    }
}

.footer-menu_nav {
    margin: 0;
    padding: 0
}

.footer-menu_nav li {
    margin-top: 5px;
    list-style: none
}

.footer-menu_nav a {
    color: #2c3436
}

@media (max-width: 767.98px) {
    .footer-menu_nav {
        display: none
    }

    .footer-menu.-expanded .footer-menu_nav {
        display: block
    }
}


/* Fix font size */
.node-blog-post .content p {
    font-size: 16px
}