/* Index layout */
.item-head {cursor:pointer;}
.descr a.button {
    background: #ffffff;
    border: 2px solid #0276b5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #0276b5;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Semibold';
    padding: 13px 25px 12px 25px;
    float: right;
    text-decoration: none;
    outline: none;
    margin-top: 1px;
}
.service-booking .content-wrapper .accordion-webinars .item .item-head {
    padding-left:25px;
}
.blue-message a {
    color: #006BAC;
    font-size: 18px;
    line-height: 24px;
    padding-top: 24px;
    padding-bottom: 28px;
    width: 493px;
    margin:0 auto;
    display:block;
}
.blue-message a:hover {
    text-decoration:none;
}
.page-webinars .content-wrapper .sb-block.sb-footer .columns-wrapper .column img {
    height:64px;
}
.page-webinars .content-wrapper .sb-block.sb-speakers .sb-speakers-wrapper .item .about-speaker .role {
    color: #333333;
    font-weight: 600;
}
.service-booking .content-wrapper .accordion-webinars .item .item-head,
.service-booking .content-wrapper .accordion-trainings .item .item-head {
    padding-top: 25px;
    padding-bottom: 25px;
}
.service-booking .content-wrapper .accordion-webinars .item .item-head a i,
.service-booking .content-wrapper .accordion-trainings .item .item-head a i {
    top: 37px;
}
.service-booking .content-wrapper .accordion-webinars .item .item-body .descr h6,
.service-booking .content-wrapper .accordion-trainings .item .item-body .descr h6 {
    margin-bottom: 0.5em;
}

.service-booking .content-wrapper .accordion-webinars .item .item-body .descr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.service-booking .content-wrapper .accordion-webinars .item .item-body .descr .main {
    display: flex;
    align-items: center;
}

.service-booking .content-wrapper .accordion-webinars .item .item-body .descr .btn-wrapper {
    min-width: 125px;
    display: flex;
    align-items: center;
    height: 100%;
}
.service-booking .content-wrapper .accordion-webinars .item .item-body .descr .btn-wrapper a {
    margin-bottom: 1px;
}
@media screen and (min-width: 768px) {
    .page-webinars .content-wrapper .sb-block.sb-footer .columns-wrapper .column {
        max-width: 50%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 767px) {
    .service-booking .content-wrapper .accordion-webinars .item .item-head {
        padding: 20px 50px 20px 20px;
    }
    .service-booking .content-wrapper .accordion-webinars .item .item-head a i {
        top: 32px;
    }
    .service-booking .content-wrapper .accordion-webinars .item .item-body .descr {
        padding-bottom: 25px;
    }
    .service-booking .content-wrapper .accordion-webinars .item .item-body {
        padding-left: 27px;
        padding-right: 20px;
        cursor: default;
    }
}
@media screen and (max-width: 507px) {
    .service-booking .content-wrapper .accordion-webinars .item .item-body .descr {
        display: block;
    }
    .service-booking .content-wrapper .accordion-webinars .item .item-body .descr .btn-wrapper {
        text-align: center;
        margin-top: 15px;
        height: 38px;
    }
    .descr a.button {
        float: none;
    }
}

/* Defeault layout */
.blog .content .field-item {
    margin-bottom: 7em;
}

.blog h1,
.blog .region-content h2.line {
    padding-bottom: 1em;
}

.blog h2 {
    padding: 1em 0;
}

.blog h3 {
    padding: 1em 0;
    font-size: 17px;
    font-weight: 600;
}

.blog h4 {
    font-size: 16px;
    margin: 1em 0;
}

.node-blog-post .content p {
    line-height: 24px;
    padding: 0 0 1em;
}

.node-blog-post .content ul li p {
    padding: 0;
    line-height: 26px;
}

pre.CodeRay {
    padding: 40px 20px 20px;
}

.listingblock .title {
    font-weight: 700;
    padding-left: 5px;
    font-style: italic
}

.blog img,
.blog .listingblock {
    padding: 1em 0;
}

.blog .admonitionblock {
    display: flex;
    align-items: center;
    background: #f7f7f7;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    width: 100%;
    padding: 0.5em 18px;
    margin: 1em 0;
}

.blog .admonitionblock .icon i {
    font-size: 38px;
    padding: 12px 0 0;
    min-width: 40px;
}

.blog .admonitionblock td.icon {
    padding: 0 0.5em 0 0;
    vertical-align: top;
}

.blog .admonitionblock td.content {
    line-height: 24px;
}

.blog .admonitionblock.tip .icon i:before {
    content: "\f0eb";
    font-size: 40px;
    padding: 12px 8px;
}
.blog .admonitionblock.warning .icon i:before {
    content: "\f071";
}

.blog .colist {
    margin: 1em 0;
}

.blog .colist.arabic td i.conum + b {
    color: #fff;
    background-color: #000;
    border-radius: 15px;
    padding: 0 6px 1px 6px;
}

.blog .colist table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #fff;
}

.node-blog-post .content ul li, .node-blog-post .content ol li {
    margin-bottom: 0;
}

/* Right panel */
.blog #blog-sidebar {
    position: relative;
    width: 373px !important;
    max-width: 373px !important;
    background-color: #f7f7f7 !important;
    padding-top: 0!important;
   /* overflow: scroll;
    overflow-x: hidden!important;*/
}
.blog .region-sidebar > section {
    top: 20px;
    width: 373px!important;
    overflow: scroll;
    overflow-x: hidden!important;
    background-color: #f7f7f7 !important;
    /*width: 280px;*/
}

.blog .github-link {
    position: relative;
    padding-left: 40px;
    font-weight: 600;
    color: #0F88E4;
    font-size: 16px;
}

.blog .github-link:before {
    position: absolute;
    content: '';
    background-image: url("/guides/images/icon-github.svg");
    width: 28px;
    height: 28px;
    left: 3px;
    top: -5px;
}

.blog .guide-panel {
    width: 100%;
    padding: 0.5em 28px 0.5em 30px;
    margin: 0;

    border: none!important;
}

.blog .guide-panel  h4 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 18px;
}

.blog .guide-panel ul {
    padding-left: 0;
}

.blog .guide-panel ul li {
    list-style: none;
    line-height: 26px;
}

.blog .guide-panel ul li a {
    font-weight: 500;
    position: relative;
    line-height: 26px;
    color: #3E3E3E;
}
.blog .guide-panel ul.sectlevel1 li a {
    font-size: 17px;
    font-weight: 400;
}
.blog .guide-panel ul.sectlevel2 li a {
    font-weight: 400;
    font-size: 16px;
}

.blog .guide-panel.download {
    padding: 0.5em 18px 0.9em 30px;
}

/*.blog .guide-panel.download .button {
    background: #006bac;
    border: 1px solid #006bac;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    padding: 13px;
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    height: 40px;
}*/

.blog .guide-panel.download .button:hover {
    text-decoration: none;
}

/* Issue #24 */
.blog .content img {
    padding: 0 10%;
}

.blog .content .img-center {
    width: 100%;
    text-align: center;
}

/* Issue #9 */
#example_cuba_petclinic .link:hover {
    text-decoration: none;
}

.example_cuba_petclinic-wrapper {
    border: 1px solid #e5e5e5;
    background-color: #f7f7f7;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}


#example_cuba_petclinic a {
    width: 100%;
    display: block;
}

#example_cuba_petclinic a::after {
    color: #006bac;
    content: "";
    margin-right: 0.25em;
    position: absolute;
    right: 20px;
    width: 12px;
    height: 8px;
    top: 35px;
    background: url(https://www.cuba-platform.com/sites/all/themes/cuba_adaptive/img/arrow-icon-inv.png) no-repeat;
}

#example_cuba_petclinic.expanded a::after {
    background: url(https://www.cuba-platform.com/sites/all/themes/cuba_adaptive/img/arrow-icon.png) no-repeat;
    font-size: 20px;
}

#example_cuba_petclinic {
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}

.example_cuba_petclinic-wrapper .sectionbody {
    padding: 15px 25px 25px 25px;
}

#example_cuba_petclinic a.link {
    padding: 25px;
}
.guides-list_title {
    font-size: 14px !important;
}
.guides-list_item {
    flex-direction: row !important;
    padding: 15px!important;
    border: 2px solid #ffffff!important;
    align-items: center;
}
.guides-list_item:hover {
    border: 2px solid #4990e2!important;
}
.guides-list_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 363px;
}
.guides-list_icone_wrapper {
    display: block;
    height: 61px!important;
}
.conum {
    position: relative;
    top: -0.125em;
}
.conum {
    display: inline-block;
    color: #fff !important;
    background-color: rgba(0,0,0,0.8);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    width: 1.67em;
    height: 1.67em;
    font-size: 0.75em;
    line-height: 1.67em;
    font-family: "Open Sans", "Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
}
.conum:after {
    content: attr(data-value);
}
.conum+b {
    display: none;
}
.blog .region-content {
    margin-left: 7%!important;
    margin-right: 0!important;
    float:right!important;
    width: 60%;
    max-width: 714px;
}
#blog-sidebar .header-table-content {
    font-size: 20px;
    text-transform: uppercase;
}
#blog-sidebar a:hover {
    text-decoration: none;
    color: #0784E3;
}
#blog-sidebar a:focus {
    font-weight: 400;
    text-decoration: none;
}
#blog-sidebar ul {
    margin-bottom: 0;
    padding-bottom: 0;
}
#blog-sidebar ul li {
    margin-bottom: 7px;
    margin-top: 7px;
}
#blog-sidebar ul > li.active > a {
    color: #0784E3;
    text-decoration: none;
}

#node-962 h1 {
    padding-top: 0!important;
}
.sidebar-razd {
    height: 1px;
    background: #C4C4C4;
    margin-bottom: 20px;
}
.guide-panel {
    background-color: #f7f7f7!important;
    width: 373px!important;
    overflow: visible;
}
.guide-panel.cuba-version {
    color: #979797;
    padding: 0 20px 30px 30px!important;
}
@media screen and (max-width: 1160px) {
    .blog .region-content {
        width: 100% !important;
        float: none!important;
        margin-left: 0!important;
        margin-right: 0!important;
        max-width: 100% !important;
    }
    .blog #blog-sidebar {
       display: none;
    }
}
@media screen and (min-width: 1160px) and (max-width: 1220px) {
    .blog .region-content {
        width: 100% !important;
        margin-left: 1%!important;
    }
    .blog .guide-panel {
        padding: 0.5em 15px 0.5em 15px;
    }

    .blog .region-sidebar > section,
    .blog #blog-sidebar {
        width: 330px!important;
    }
}
.footer {
position: relative;
}
.footer_columns {
padding-top: 30px!important;
}
.footer_bottom {
padding-top: 15px!important;
padding-bottom: 17px!important;
}
.footer-menu {
font-size: 13px;
line-height: 18px;
}