<!-- BEGIN FOOTER -->
<footer id="footer">
    <div class="footer-wrapper cuba-container">
        <div class="region region-footer-sitemap">
            <section id="block-footer-sitemap-footer-sitemap" class="block block-footer-sitemap clearfix">
                <div id="footer-sitemap" class="clearfix">
                    <div class="fs-block-content">
                        <div class="menu-footer-sitemap">
                            <ul class="footer_links_menu-footer-sitemap total-items-5 parent-items-0 single-items-0">
                                <li class="menu-1466 depth-1 total-children-4 parent-children-0 single-children-4  first">
                                    <a href="/framework" class="fs-root-link">Platform</a>
                                    <ul class="footer_links_menu-footer-sitemap total-items-4 parent-items-0 single-items-0">
                                        <li class="menu-2770 depth-2 fs-no-children  first"><a href="/framework">The Framework</a></li>
                                        <li class="menu-1473 depth-2 fs-no-children"><a href="/development-tools">Development Tools</a></li>
                                        <li class="menu-2838 depth-2 fs-no-children last"><a href="/marketplace">Marketplace</a></li>
                                    </ul>
                                </li>
                                <li class="menu-1469 depth-1 total-children-7 parent-children-0 single-children-7">
                                    <a href="/online-demo" class="fs-root-link">Learn</a>
                                    <ul class="footer_links_menu-footer-sitemap total-items-7 parent-items-0 single-items-0">
                                        <li class="menu-1479 depth-2 fs-no-children first"><a href="/online-demo">Online demo</a></li>
                                        <li class="menu-1477 depth-2 fs-no-children"><a href="/quickstart">Quick start</a></li>
                                        <li class="menu-1478 depth-2 fs-no-children"><a href="/documentation">Documentation</a></li>
                                        <li class="menu-1731 depth-2 fs-no-children"><a href="/guides">Guides</a></li>
                                        <li class="menu-1773 depth-2 fs-no-children"><a href="/webinars">Webinars</a></li>
                                        <li class="menu-1602 depth-2 fs-no-children last"><a href="/faq">FAQ</a></li>
                                    </ul>
                                </li>
                                <li class="menu-1603 depth-1 total-children-3 parent-children-0 single-children-3"><a
                                        href="https://www.cuba-platform.com/discuss/" class="fs-root-link">Community</a>
                                    <ul class="footer_links_menu-footer-sitemap total-items-3 parent-items-0 single-items-0">
                                        <li class="menu-1604 depth-2 fs-no-children first"><a href="https://www.cuba-platform.com/discuss/">Forum</a></li>
                                        <li class="menu-1692 depth-2 fs-no-children"><a href="/testimonials">Customer stories</a></li>
                                        <li class="menu-1615 depth-2 fs-no-children last"><a href="/blog">Blog</a></li>
                                    </ul>
                                </li>
                                <li class="menu-1663 depth-1 total-children-3 parent-children-0 single-children-3"><a
                                        href="/training" class="fs-root-link">Services</a>
                                    <ul class="footer_links_menu-footer-sitemap total-items-3 parent-items-0 single-items-0">
                                        <li class="menu-1756 depth-2 fs-no-children first"><a href="/training">Training</a></li>
                                        <li class="menu-1757 depth-2 fs-no-children"><a href="/support-options">Support</a></li>
                                        <li class="menu-1758 depth-2 fs-no-children last"><a href="/deployment">Development</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-1612 depth-1 total-children-3 parent-children-0 single-children-3  last">
                                    <a href="/download" class="fs-root-link">More</a>
                                    <ul class="footer_links_menu-footer-sitemap total-items-3 parent-items-0 single-items-0">
                                        <li class="menu-2773 depth-2 fs-no-children first"><a href="/download">Download</a></li>
                                        <li class="menu-2775 depth-2 fs-no-children"><a href="/store">Store</a></li>
                                        <li class="menu-1480 depth-2 fs-no-children last"><a href="/contacts">Contacts</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </section>
        </div>
        <div class="region region-footer-copyright">
            <section id="block-block-14" class="block block-block clearfix">
                <div class="footer-copyright">
                    <div class="copyright">Copyright &copy; 2008-2018 Haulmont</div>
                    <div class="licences"><a href="/terms-of-use">Terms of Use</a></div>
                    <div class="socials">
                        <ul>
                            <li><a href="https://github.com/cuba-platform/cuba" class="socials-icon github"></a></li>
                            <li><a href="https://www.youtube.com/c/CubaPlatform" class="socials-icon youtube"></a></li>
                            <li><a href="https://www.facebook.com/CUBAplatform" class="socials-icon facebook"></a></li>
                            <li><a href="https://twitter.com/CubaPlatform" class="socials-icon twitter"></a></li>
                            <li><a href="https://www.linkedin.com/company/cuba-platform" class="socials-icon linkedin"></a></li>
                            <li><a href="https://www.cuba-platform.com/rss.xml" class="socials-icon rss"></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Place this tag in your head or just before your close body tag. -->
                <script async defer src="https://buttons.github.io/buttons.js"></script>
            </section>
        </div>
    </div>
    <!--<script src="https://www.cuba-platform.com/sites/default/files/js/js_OmOCame-fnmHrN5e61CZ6Qi6MS5rHZ2jo6O0qsiYS1Q.js"></script>
    <script src="https://www.cuba-platform.com/sites/default/files/js/js_Es7w5kWiS8CGph1E0HE2jrcO3tONeJfC-cTNWigk87E.js"></script>-->
</footer>
<!-- END FOOTER -->
<div class="scrollTop"></div>
