<!-- BEGIN HEADER -->
<header id="header">
    <div class="upper-header">
        <div class="upper-header-wrapper cuba-container">
            <div class="header-logo">
                <a href="/"></a>
            </div>
            <div class="header-options"></div>
            <div class="header-menu" role="navigation">
                <div class="region region-nav-main">
                    <section id="block-menu-menu-nav" class="block block-menu clearfix">
                        <ul class="menu nav">
                            <li class="first expanded dropdown">
                                <a href="/framework" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Platform <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="first leaf"><a href="/framework">The Framework</a></li>
                                    <li class="leaf"><a href="/development-tools">Development Tools</a></li>
                                    <li class="last leaf"><a href="/marketplace">Marketplace</a></li>
                                </ul>
                            </li>
                            <li class="leaf"><a href="/download">Download</a></li>
                            <li class="expanded active-trail active dropdown">
                                <a href="/online-demo" class="active-trail dropdown-toggle" data-target="#" data-toggle="dropdown">Learn <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="first leaf"><a href="/online-demo">Online Demo</a></li>
                                    <li class="leaf"><a href="/quickstart">Quick Start</a></li>
                                    <li class="leaf"><a href="/documentation">Documentation</a></li>
                                    <li class="leaf"><a href="/guides">Guides</a></li>
                                    <li class="leaf"><a href="/webinars">Webinars</a></li>
                                    <li class="last leaf"><a href="/faq">FAQ</a></li>
                                </ul>
                            </li>
                            <li class="expanded dropdown">
                                <a href="https://www.cuba-platform.com/discuss/" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Community
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="first leaf"><a href="https://www.cuba-platform.com/discuss/">Forum</a></li>
                                    <li class="collapsed"><a href="/testimonials">Customer stories</a></li>
                                    <li class="last leaf"><a href="/blog">Blog</a></li>
                                </ul>
                            </li>
                            <li class="expanded dropdown">
                                <a href="/training" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Services <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="first leaf"><a href="/training">Training</a></li>
                                    <li class="leaf"><a href="/support-options">Support</a></li>
                                    <li class="last leaf"><a href="/development">Development</a></li>
                                </ul>
                            </li>
                            <li class="leaf"><a href="/store">Store</a></li>
                            <li class="last leaf"><a href="/contacts">Contacts</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- BEGIN LOWER HEADER -->
<div class="lower-header std">
    <div class="submenu">
        <div class="submenu-title-wrapper">
            <div class="cuba-container">
                <div class="region region-lower-header-submenu">
                    <section id="block-menu-block-1" class="block block-menu-block clearfix">

                        <h2 class="block-title">Learn</h2>

                        <div class="menu-block-wrapper menu-block-1 menu-name-menu-nav parent-mlid-0 menu-level-2">
                            <ul class="menu nav">
                                <li class="first leaf menu-mlid-1329"><a href="/online-demo">Online Demo</a></li>
                                <li class="leaf menu-mlid-1327"><a href="/quickstart">Quick Start</a></li>
                                <li class="leaf menu-mlid-1328"><a href="/documentation">Documentation</a></li>
                                <li class="leaf menu-mlid-3012 active-trail active active"><a href="/guides/" class="active-trail active-trail active">Guides</a></li>
                                <li class="leaf"><a href="/webinars">Webinars</a></li>
                                <li class="last leaf menu-mlid-1591"><a href="/faq">FAQ</a></li>
                            </ul>
                        </div>

                    </section>
                </div>
            </div>
        </div>

        <!-- WILL BE SHOWN UPON CONDITION -->

        <!-- WILL BE SHOWN UPON CONDITION -->

    </div>
</div>

<style>
    .upper-header .header-options {
        display: none;
    }

    .upper-header .upper-header-wrapper .header-menu div .nav > li:last-child > a {
        padding-right: 0;
    }
</style>
