.guide-item_button {
  margin: 0;
  font-size: 15px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.blog .guide-panel {
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #c1cbd3;
}