.haulmont-list {
  margin: 0;
  padding: 20px 0;
}

.haulmont-list_item {
  margin: 0 0 3px;
  padding: 0 0 0 20px;
  font-weight: bold;
  font-size: 14px;
  list-style: none;
  background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTEgMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuNDIuMjc1YS44OS44OSAwIDAgMSAuNzM2LjE3OGMuMjIuMTcuMzU2LjM5NC40MDYuNjczYS45ODIuOTgyIDAgMCAxLS4xNzcuNzc0TDUuMTI5IDkuNTY4YTEuMDUgMS4wNSAwIDAgMS0uNjQ4LjQwNy44NjkuODY5IDAgMCAxLS43MjMtLjE3OGMtLjEzNi0uMTAyLS40OTEtLjQ2MS0xLjA2Ny0xLjA4YTg5Ljc4MyA4OS43ODMgMCAwIDEtMS42MjUtMS43OUwuMjggNi4wNjVBMS4wNSAxLjA1IDAgMCAxIDAgNS4zMjhjMC0uMjg4LjEwMi0uNTMzLjMwNS0uNzM2YS45My45MyAwIDAgMSAxLjM5Ni4wNUw0LjIxNSA3LjM2IDguNzg1LjY4MmMuMTctLjIyLjM4MS0uMzU2LjYzNS0uNDA3eiIgZmlsbD0iI2Y5Y2EyNCIvPjwvc3ZnPg==) no-repeat 0 .3em;
  background-size: 11px 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
