.page-header {
  min-height: 81px;
  margin-bottom: 40px;
  text-align: center;
}

.page-header_title {
  margin: 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.42857;
}

.page-header_description {
  margin: 10px 0 0;
  color: $color-secondary;
  font-size: 13px;
}
