.services-list {
  margin: 0;
  padding: 0;
}

.services-list_item {
  margin: 0 0 8px;
  padding: 9px 0;
  font-size: 14px;
  list-style: none;
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #aeaad6;
  border-radius: 0;

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }

  a {
    color: #2c3436;
    text-decoration: none;
  }
}

a.services-list_link-btn[href] {
  color: #342a98;
}

.services-list_title {
  display: block;
  margin: 2px 0 10px;
}

.services-list_text {
  margin: 10px 0 5px;
}
