<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Haulmont">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@CubaPlatform">
    <meta name="twitter:creator" content="@CubaPlatform">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.excerpt}}">
    <meta property="og:url" content="https://www.cuba-platform.com{{site.baseurl}}/{{page.permalink}}">
    <meta property="og:image" content="{{page.url-first-image}}">

    <link rel="shortcut icon" href="{{ '/images/favicon.png' | prepend: site.baseurl }}" type="image/png" />
    <link rel="stylesheet" href="{{ '/css/foundation.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/font-awesome.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/coderay.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/bootstrap.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://www.cuba-platform.com/sites/all/themes/cuba_adaptive/css/reset.css">
    <link rel="stylesheet" href="https://www.cuba-platform.com/sites/all/themes/cuba_adaptive/css/animate.css">
    <link rel="stylesheet" href="{{ '/css/extra.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/extra2.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/cuba-new.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/guides.css' | prepend: site.baseurl }}">
    <script src="{{ '/js/jquery_v2.1.min.js' | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
    {% include counter.html %}
</head>
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-962 node-type-blog-post i18n-en">

<section id="wrapper">
    {% include header.html %}

    <!-- Main Page Content and Sidebar -->
    <div class="content-wrapper">
        <div class="cuba-container text-node blog">



            <!-- Main content (left column) -->
            <div class="region region-content">



                <section id="block-system-main" class="block block-system clearfix">
                    <div id="node-962" class="article node node-blog-post node-promoted clearfix">
                        <div class="content">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even" property="content: encoded">
                                        {{ content }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Sidebar (right column) -->
            <div id="blog-sidebar">
                <div class="region region-sidebar ">
                    <section id="block-block-29" class="block block-block clearfix">

                        <div class="guide-panel">
                            <h3 class="header-table-content">Table of contents</h3>
                            {{ page.document | tocify_asciidoc: 2 }}
                        </div>

                        <div class="sidebar-razd"></div>
                        <div class="guide-panel download">
                            <a href="https://github.com/cuba-guides/{{ page.project_id }}" class="github-link" target="_blank">Example code on Github</a>
                        </div>
                        <div class="guide-panel cuba-version">Supported versions: CUBA {{ page.compatible_cuba_versions }}; Java {{ page.compatible_java_versions }}</div>

                    </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include footer.html %}
</section>

<script src="{{'/js/foundation.min.js'  | prepend: site.baseurl }}"></script>
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
<script src="{{ '/js/vendor/modernizr.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/toc.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/navigation.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/navbar.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/extra.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/extra2.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/cuba-new.js' | prepend: site.baseurl }}"></script>
<script>
(function ($) {
  $(document).foundation();
  var doc = document.documentElement;
  doc.setAttribute('data-useragent', navigator.userAgent)

  /* Issue #24 */
  $(".blog .content img").each(function() {
    var imgMarkup = $(this)[0].outerHTML;
    console.log(imgMarkup);
    $(this).replaceWith('<div class="img-center">' + imgMarkup + '</div>');
  });

})(jQuery);

// Cache selectors
var lastId,
    topMenu = $(".sectlevel1"),
    topMenuHeight = topMenu.outerHeight()+1,

    // All list items
    menuItems = topMenu.find("a"),
    // Anchors corresponding to menu items
    scrollItems = menuItems.map(function(){
        var item = $($(this).attr("href"));
        if (item.length) { return item; }
    });
console.log(topMenuHeight );
menuItems.click(function(e){
    var href = $(this).attr("href"),
        offsetTop = href === "#" ? 0 : $(href).offset().top - 85;
    $('html, body').stop().animate({
        scrollTop: offsetTop
    }, 850);
    e.preventDefault();
    window.location =  href;
});

$( document ).ready(function() {
    const hash = location.hash.replace('#','');
    if(hash !== ''){
        $('html, body').stop().animate({ scrollTop: $('a[href=#' + hash + ']').offset().top - 85}, 850);
    }
});

// Bind to scroll
$(window).scroll(function(){
    // Get container scroll position
    var fromTop = $(this).scrollTop()+topMenuHeight;

    // Get id of current scroll item
    var cur = scrollItems.map(function(){
        if ($(this).offset().top < fromTop)
            return this;
    });
    // Get the id of the current element
    cur = cur[cur.length-1];
    var id = cur && cur.length ? cur[0].id : "";

    if (lastId !== id) {
        lastId = id;
        // Set/remove active class
        menuItems
            .parent().removeClass("active")
            .end().filter("[href=#"+id+"]").parent().addClass("active");
    }
});

</script>
</body>
</html>
