<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Haulmont">
    <link rel="shortcut icon" href="{{ '/images/favicon.png' | prepend: site.baseurl }}" type="image/png" />
    <link rel="stylesheet" href="{{ '/css/foundation.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/font-awesome.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/coderay.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/bootstrap.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://www.cuba-platform.com/sites/all/themes/cuba_adaptive/css/reset.css">
    <link rel="stylesheet" href="https://www.cuba-platform.com/sites/all/themes/cuba_adaptive/css/animate.css">
    <link rel="stylesheet" href="{{ '/css/extra.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/extra2.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/guides.css' | prepend: site.baseurl }}">
    <script src="{{ '/js/jquery_v2.1.min.js' | prepend: site.baseurl }}"></script>
</head>
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-962 node-type-blog-post i18n-en">

<section id="wrapper">
    {% include header.html %}

    <!-- Main Page Content and Sidebar -->
    <div class="content-wrapper">
        <div class="cuba-container text-node blog">
            <!-- Main content (left column) -->
            <div class="region region-content">
                <section id="block-system-main" class="block block-system clearfix">
                    <div id="node-962" class="article node node-blog-post node-promoted clearfix">
                        <div class="content">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even" property="content: encoded">
                                        {{ content }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- Sidebar (right column) -->
            <div id="blog-sidebar">
                <div class="region region-sidebar">
                    <section id="block-block-29" class="block block-block clearfix">
                        <div class="guide-panel cuba-version">
                            <h4>CUBA Version {{ page.compatible_cuba_versions }}</h4>
                        </div>

                        <div class="guide-panel download">
                            <h4>Get the code</h4>
                            <a class="button expanded"  href="https://github.com/cuba-guides/{{ page.project_id }}/archive/master.zip" target="_blank">Download</a>
                            <a href="https://github.com/cuba-guides/{{ page.project_id }}" class="github-link" target="_blank">Github</a>
                        </div>

                        <div class="guide-panel">
                            <h4>Table of contents</h4>
                            {{ page.document | tocify_asciidoc: 1 }}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include footer.html %}
</section>

<script src="{{'/js/foundation.min.js'  | prepend: site.baseurl }}"></script>
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
<script src="{{ '/js/vendor/modernizr.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/toc.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/navigation.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/navbar.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/extra.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/extra2.js' | prepend: site.baseurl }}"></script>
<script>
(function ($) {
  $(document).foundation();
  var doc = document.documentElement;
  doc.setAttribute('data-useragent', navigator.userAgent)

  /* Issue #24 */
  $(".blog .content img").each(function() {
    var imgMarkup = $(this)[0].outerHTML;
    console.log(imgMarkup);
    $(this).replaceWith('<div class="img-center">' + imgMarkup + '</div>');
  });
})(jQuery); 
</script>
</body>
</html>
