<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Haulmont">
    <link rel="shortcut icon" href="{{ '/images/favicon.png' | prepend: site.baseurl }}" type="image/png" />
    <link rel="stylesheet" href="{{ '/css/foundation.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/font-awesome.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/coderay.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/bootstrap.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://www.cuba-platform.com/sites/all/themes/cuba_adaptive/css/reset.css">
    <link rel="stylesheet" href="https://www.cuba-platform.com/sites/all/themes/cuba_adaptive/css/animate.css">
    <link rel="stylesheet" href="{{ '/css/extra.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/extra2.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/guides.css' | prepend: site.baseurl }}">
    <script src="{{ '/js/vendor/modernizr.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/jquery_v2.1.min.js' | prepend: site.baseurl }}"></script>
</head>
<body class="cuba-website-styles html not-front not-logged-in no-sidebars page-webinars service-booking i18n-en">

<section id="wrapper">
    {% include header.html %}

    <!-- Main Page Content and Sidebar -->
    <div class="content-wrapper">
        <div class="text-node">
            <div class="region region-content">
                <section id="block-system-main" class="block block-system clearfix">
                    <div class="panel-display panel-1col clearfix" id="webinars-page">
                        <div class="panel-panel panel-col">
                            <div>
                                <!-- Title -->
                                <div class="panel-pane pane-custom pane-1">
                                    <div class="pane-content">
                                        <div class="sb-block sb-head">
                                            <h2>Guides</h2>
                                            <span>Comprehensive articles about CUBA Platform specifics (version 7.0+)</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion -->
                                <div class="panel-pane pane-custom pane-2 cuba-container">
                                    <div class="pane-content">
                                        <div class="accordion-webinars">
                                            {% for post in site.posts reversed %}
                                            <div class="item">
                                                <a name="tr1"></a>
                                                <div class="item-head collapsed" data-toggle="collapse" data-target="#{{ post.permalink }}" href="#{{ post.permalink }}" aria-expanded="false">
                                                    <a>
                                                        <span>{{ post.navtitle }}</span>
                                                        <i></i>
                                                    </a>
                                                </div>
                                                <div class="item-body collapse" id="{{ post.permalink }}" aria-expanded="false" style="height: 0px;">
                                                    <div class="descr">
                                                        <div class="main">
                                                            {{ post.excerpt }}
                                                        </div>
                                                        <div class="btn-wrapper">
                                                            <a href="{{ post.url | prepend: site.baseurl }}" class="button join-webinar">Read now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- End of accordion -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- End Main Content and Sidebar -->

    <!-- Footer -->
    {% include footer.html %}
</section>


<script src="{{ '/js/toc.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/foundation.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/navigation.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/extra.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/extra2.js' | prepend: site.baseurl }}"></script>
<script>
$(document).foundation();
var doc = document.documentElement;
doc.setAttribute('data-useragent', navigator.userAgent);

</script>
</body>
</html>
