<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Haulmont">
    <link rel="shortcut icon" href="{{ '/images/favicon.png' | prepend: site.baseurl }}" type="image/png" />
    <link rel="stylesheet" href="{{ '/css/foundation.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/font-awesome.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/coderay.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/bootstrap.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://www.cuba-platform.com/sites/all/themes/cuba_adaptive/css/reset.css">
    <link rel="stylesheet" href="https://www.cuba-platform.com/sites/all/themes/cuba_adaptive/css/animate.css">
    <link rel="stylesheet" href="{{ '/css/extra.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/extra2.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/cuba-new.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/guides.css' | prepend: site.baseurl }}">
    <script src="{{ '/js/vendor/modernizr.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/jquery_v2.1.min.js' | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
    {% include counter.html %}
</head>
<body class="cuba-website-styles html not-front not-logged-in no-sidebars page-webinars service-booking i18n-en">

<section id="wrapper">
    {% include header.html %}

    <!-- Main Page Content and Sidebar -->
    <div class="content-wrapper">
        <div class="text-node">
            <div class="region region-content">
                <section id="block-system-main" class="block block-system clearfix">
                    <div class="panel-display panel-1col clearfix" id="webinars-page">
                        <div class="container layout-main_container">
                            <div>
                                <!-- Title -->
                                <div class="page-header">
                                    <h1 class="page-header_title">Guides</h1>
                                    <p class="page-header_description">Comprehensive articles about CUBA Platform specifics (version 7.0+)</p>
                                </div>

                                <!-- List Grid -->
                                <div class="">
                                    <div class="pane-content">
                                        <div class="guides-list">
                                            {% for post in site.posts reversed %}
                                            <a href="{{ post.url | prepend: site.baseurl }}" class="guides-list_item">
                                                <div class="guides-list_icone_wrapper"><img src="{{ post.icone }}"></div>
                                                <div class="guides-list_wrapper">
                                                    <div class="guides-list_title">{{ post.navtitle }}</div>
                                                    <span class="guides-list_description">{{ post.excerpt }}</span>
                                                </div>
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- End Main Content and Sidebar -->

    <!-- Footer -->
    {% include footer.html %}
</section>

<script src="{{ '/js/toc.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/foundation.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/navigation.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/extra.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/extra2.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/cuba-new.js' | prepend: site.baseurl }}"></script>
<script>
$(document).foundation();
var doc = document.documentElement;
doc.setAttribute('data-useragent', navigator.userAgent);

</script>
</body>
</html>
